<div class="container" style="margin-top: 7vw;">
    <div class="row justify-content-center">
      <div class="col-sm-8 align-self-center text-center">
        <h1>Welcome to Everis Customers Managment</h1>
        <ul class="list-group list-group-flush" style="margin-top: 1vw;">
          <li class="list-group-item"><h4 class="text-info">Click on "Customers" to see them and CRUD</h4></li>
          <li class="list-group-item"><h4 class="text-info">Use search bar to find customers by name</h4></li>
        </ul>
      </div>
    </div>
    
  </div>